*{
    margin:0;
    padding:0;
}
body{
    font-size: 18px;
    box-sizing: border-box;
    width: 100%;
}
.topsection{
    background-image: url(./bg-hero-mobile.svg);
    background-repeat: no-repeat;
    margin: 0px;
    width: 100%;
    background-size: cover;
   
}
.headnav{
    margin: 0px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
       
}
.headnav button{
    background-color: rgb(253, 253, 253);
    border-radius: 35px;
    align-items: center;
    padding: 10px 50px;
    border: none;
    box-shadow: 1px 2px 1px 2px hsla(0, 2%, 17%, 0.1);
}
.topcontent{
    display: flex;
    /* flex-wrap: wrap; */
    margin: 30px;
}
.topcontent .left{
    flex: 50%;
    margin: 10px;
    padding: 10px;

}
h1{
    margin: 10px;
    color: hsl(192, 100%, 9%);
}
.topcontent p{
    margin: 10px;
    color: hsl(192, 100%, 9%);
}
.topcontent button{
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-radius: 35px;
    align-items: center;
    padding: 10px 50px;
    border: none;
}
.topcontent .right{
    flex: 50%;
    margin: 10px;
    padding: 10px;
}
.topcontent img{
    height: 300px;
    width: 100%;
}
.middlesection{
    background-color: white;
}
.firstwrap{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 50px 20px 50px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 2px hsla(0, 2%, 17%, 0.1);
}
.firstwrap .right img{
    height: 400px;
    margin: 20px;
    
}
.firstwrap .right{
    flex: 50%;

}
h3{
    
    margin: 10px 50px 10px 50px;
    padding: 20px;
    color: hsl(192, 100%, 9%);
}
.middlesection p{
    margin: 0px 50px 10px 50px;
    padding: 10px;
}
.firstwrap .left{
    height: 300px;
    flex: 50%;
}
.secondwrap{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 50px 20px 50px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 2px hsla(0, 2%, 17%, 0.1);
}
.secondwrap .left img{
    height: 400px;
    margin: 20px;
    
}
.secondwrap .left{
    flex: 50%;
    
}
.secondwrap .right{
    height: 300px;
    flex: 50%;
}
.thirdwrap{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 50px 20px 50px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 2px hsla(0, 2%, 17%, 0.1);
}
.thirdwrap .right img{
    height: 400px; 
    margin: 20px;
    
}
.thirdwrap .right{
    flex: 50%;
    
}

.thirdwrap .left{
    height: 300px;
    flex: 50%;
}
.thirdwrap .left p{
    margin: 0px 50px 10px 50px;
    padding: 10px;
}

.floatbox{
    margin: 30px 50px 20px 50px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 2px hsla(0, 2%, 17%, 0.1);
    justify-content: center;
    text-align: center;
    
}
h2{
    margin: 10px;
    padding: 20px;
    color: hsl(192, 100%, 9%);
}

.floatbox button{
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-radius: 35px;
    align-items: center;
    padding: 10px 50px;
    margin-bottom: 20px;
    border: none;
    display: inline-block;
}

.bottomsection{
    background-color: hsl(192, 100%, 9%);
    /* width: 100%; */
}
.logo-white{
    fill: white;
}

.bottomwrap{
    display: flex;
    
    padding: 20px;
}
.bottomsection p{
    color: white;
    font-size: 14px;
}
.location, .phone, .email{
    display: flex;
    margin: 10px;
}
.location p{
    padding-right: 20px;
}
.bottom2 p{
    margin: 0px;
    padding: 10px;
}
.bottom3 p{
    margin: 0px;
    padding: 10px;
}
.socialmedia{
    display: flex;
    flex-wrap: wrap;
    padding: 5px 15px;  
}
.socialmedia svg{
    padding: 0px 10px;
}
.bottom1 img{
    padding: 5px 10px 5px 5px;
}